* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230, 230, 230);
}

.login-page {
    width: 300px;
    height: 500px;
    padding: 50px 30px 10px 30px;
    background: rgb(228, 227, 227);
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(192, 191, 191), -10px -10px 15px white;
}

.logo-out {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 25px;
    background: yellow;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgb(192, 191, 191), 10px 10px 15px rgb(192, 191, 191), -10px -10px 15px white;
}

.logo-in {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    border-radius: 50%;
}

.title {
    text-align: center;
    letter-spacing: 1px;
    padding-top: 20px;
}

.sub-title {
    text-align: center;
    letter-spacing: 3px;
    padding-top: 10px;
}

.info {
    width: 100%;
    padding-top: 20px;
}

.username,
.password {
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: inset 8px 8px 15px rgb(192, 191, 191), inset -8px -8px 15px white;
}

.info input {
    outline: none;
    border: none;
    background: none;
    padding: 15px 10px;
}

.btn {
    outline: none;
    border: none;
    background: none;
    background: yellow;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background: black;
    color: yellow;
}

.link {
    text-align: center;
    padding: 10px;
}

.link a {
    border: none;
    outline: none;
    text-decoration: none;
    color: rgb(150, 146, 146);
}